.button {
  border: none;
  border-radius: 0.5rem;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--color-dark-slate-grey);
  color: var(--color-white);
  width: 100%;
  padding: 0.8rem 0;
}

.button:hover {
  background-image: linear-gradient(
    to right,
    var(--gradient-tomato-start),
    var(--gradient-tomato-end)
  );
}
