.container {
  background-color: var(--color-white);
  border: none;
  border-radius: 5px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

img {
  width: 3.5rem;
  margin-top: 3rem;
}

.title {
    color: var(--color-dark-slate-grey);
    font-size: 2rem;
    line-height: 1;
    margin-top: 2rem;
}

.message {
    color: var(--color-dark-slate-grey);
    font-size: 0.9rem;
    margin-top: 2rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 400px) {
  .container {
    max-width: 350px;
    min-height: 0;
    border-radius: 20px;
    padding: 2rem;
  }

  img {
    margin-top: 0;
  }

  .message {
    margin-top: 1rem;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }

}